html{
  background-color: black;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1{
  border: 3px dotted SeaGreen;
  color: white;
  padding: 10px 20px;
  margin: 50px;
}

img{
  height: 500px;
  width: 800px;
  margin: 30px;
}
.projects li{
  list-style-type: none;
  margin: 20px;
  padding: 10px;
}

.projects a{
  color: white;
  border: 1px dotted lightgrey;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
}
