html{
  background-color: #001f3f;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1{
  border: 3px dotted SeaGreen;
  color: white;
  padding: 10px 20px;
}

.projects ul{
  list-style-type: none;
  padding: 10px;
}

.projects a{
  border: 1px solid white;
  padding: 10px;
  text-decoration: none;
}
